h1 {
    color: #1B3A6D;
}

section {
    background-color: #1B3A6D;

    header {
        font-size: 2em;
        font-weight: bold;
        color: #EEE;

        div {
            padding: 8px;
        }
    }

    article {
        padding: 0px 10px 10px 10px;
        div {
            background-color: #EEE;
            padding: 1px 0;
        }
    }
}

footer {
    padding-top: 15px;
    padding-right: 15px;

    .poweredByPanel {
        text-align: right;
    }
    .poweredBy {
        height: 50px;
    }
    
    .copyright {
        text-align: center;
    }
}