

<header>
    <h1>Carlo Toribio</h1>
</header>

<section>
    <header>
        <div>
            AWS Research & Development
        </div>
    </header>
    <article>
        <div>
            <ul>
                <li>EC2</li>
                <li>ELB</li>
                <li>S3</li>
                <li>SQS</li>
                <li>SNS</li>
                <li>ECS</li>
                <li>EKS</li>
                <li>ElastiCache</li>
                <li>Aurora</li>
                <li>RDS</li>
                <li>Route 53</li>
            </ul>
        </div>
    </article>
</section>

<footer>
    <div class="poweredByPanel">
        <img class="poweredBy" src="/assets/poweredBy01.png" />
    </div>
    <div class="copyright">
        <label>Copyright © 2022 Carlo Toribio</label>
    </div>
</footer>